@charset "UTF-8";
/* ДОПОЛНИТЕЛЬНЫЙ КЛАСС
 ДЛЯ ТОГО ЧТОБЫ ПРАВИЛЬНО
  СКРЫВАТЬ ЭЛЕМЕНТЫ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Горизонтальное выравнивание контента
 списка основной страницы */
.main-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .main-list {
    display: block;
  }
}

/* Сбрасываю отступы всм элементам */
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}

/* Общие сбросы */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #212121;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: block;
}

.address {
  font-style: normal;
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
  .features.section {
    padding-bottom: 0px;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Заголовки секций */
.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17857;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
  }
}

/* ----- BTN ----- */
.btn {
  padding: 10px 30px;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
}

/* СПИСОК СОЦИАЛЬНЫХ ССЫЛОК */
.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: #2196f3;
}

.social-list__link:hover .social-list__svg,
.social-list__link:focus .social-list__svg {
  fill: #ffffff;
}

/* ----- МОДАЛЬНОЕ ОКНО ----- */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-beckdrop {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  transition: all 500ms linear;
}

.modal {
  position: absolute;
  padding: 40px;
  width: 528px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: all 500ms linear;
}

.modal-beckdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
  transition: all 500ms linear;
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover, .modal-btn-close:focus {
  fill: #2196f3;
}

.form {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__text {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.form__label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__input {
  padding-left: 42px;
  margin-top: 4px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea {
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus, .form__textarea:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form__checkbox {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: #757575;
}

.form__checkbox-link {
  text-decoration: underline;
  margin-left: 5px;
  color: #2196f3;
}

.form__input-icon {
  position: absolute;
  left: 14px;
  top: 30px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__input-icon {
  fill: #2196f3;
}

.form__checkbox::before {
  display: inline-block;
  margin-right: 8px;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 2px solid #212121;
  background-color: #fff;
  background-image: url("../images/svg/modal-check.svg");
  background-repeat: no-repeat;
  background-size: 12px 8px;
  background-position: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox-input:checked + .form__checkbox::before {
  background-color: #2196f3;
  border: none;
}

.modal__btn {
  margin: 0 auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19231;
    letter-spacing: 0.03em;
  }
}

.logo__text-web {
  color: #2196f3;
}

.header__logo {
  margin-right: 93px;
}

.footer__logo {
  margin-bottom: 20px;
  color: #ffffff;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-list, .header__address-list {
  display: flex;
}

.header__nav-item {
  position: relative;
  padding: 32px 0;
}

.header__nav-item:not(:last-child), .header__address-item:not(:last-child) {
  margin-right: 50px;
}

.header__nav-link {
  color: #212121;
}

.header__address-link {
  color: #757575;
}

.header__nav-link, .header__address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-link:hover, .header__nav-link:focus, .header__address-link:hover, .header__address-link:focus {
  color: #2196f3;
}

.header__nav-link--active-page {
  color: #2196f3;
}

.header__nav-link--active-page::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.header .address {
  margin-left: auto;
}

.envelope {
  width: 16px;
  height: 12px;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.envelope,
.smartphone {
  margin-right: 10px;
  color: #757575;
}

.header__address-link:hover .envelope,
.header__address-link:focus .envelope, .header__address-link:hover
.smartphone,
.header__address-link:focus
.smartphone {
  fill: #2196f3;
}

.hero {
  padding: 118px 0px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-for-hero/bg-hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-for-hero/bg-hero-mobile@2x.jpg");
  }
}

.hero__title {
  max-width: 360px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61538;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36364;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-for-hero/bg-hero-tablet@1x.jpg");
    background-size: 768px 400px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-for-hero/bg-hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-for-hero/bg-hero-desktop@1x.jpg");
    background-size: 1600px 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-for-hero/bg-hero-desktop@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    margin: -15px;
  }
}

.features__item {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
    margin: 0;
  }
}

.features__item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__item:nth-child(1)::before {
  background-image: url("../images/svg/svg-for-features/antenna.svg");
  background-size: 70px 70px;
}

.features__item:nth-child(2)::before {
  background-image: url("../images/svg/svg-for-features/clock.svg");
  background-size: 70px 70px;
}

.features__item:nth-child(3)::before {
  background-image: url("../images/svg/svg-for-features/diagram.svg");
  background-size: 70px 70px;
}

.features__item:nth-child(4)::before {
  background-image: url("../images/svg/svg-for-features/astronaut.svg");
  background-size: 70px 70px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: #757575;
}

.services__item {
  position: relative;
}

.services__wrap {
  position: absolute;
  bottom: 0;
  padding: 27px 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.services__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}

.command {
  background: #f5f4fa;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .command__list {
    margin: -15px;
  }
}

.command__item {
  max-width: 450px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .command__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .command__item {
    margin: 15px;
    width: 354px;
    height: 536px;
  }
}

@media screen and (min-width: 1200px) {
  .command__item {
    width: 270px;
    height: 428px;
  }
}

.command__img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .command__img {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .command__img {
    width: 270px;
    height: 260px;
  }
}

.command__text {
  padding: 30px 0px 24px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .command__text {
    padding: 30px 0px;
  }
}

.command__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
}

.command__profession {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #757575;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  margin: 15px;
  width: calc((100% - 30px * 2) / 2);
  height: 90px;
}

@media screen and (min-width: 480px) {
  .clients__item {
    width: 210px;
    height: 90px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    height: 90px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid #2196f3;
}

.clients__link:hover .clients__svg,
.clients__link:focus .clients__svg {
  fill: #2196f3;
}

.footer {
  padding: 60px 0px;
  background: #2f303a;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .webstudio-address,
  .social-container {
    width: 50%;
  }
}

/* ----- address -----*/
.webstudio-address {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .webstudio-address {
    margin-right: 70px;
    margin-bottom: 0px;
    text-align: left;
  }
}

.webstudio-address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .webstudio-address__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.webstudio-address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.map {
  color: #ffffff;
}

/* ----- social-container ----- */
.social-container {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .social-container {
    margin-right: 92px;
    margin-bottom: 0;
    width: 206px;
    height: 80px;
    text-align: left;
  }
}

.social-container .social-list__svg {
  fill: #ffffff;
}

.social-container .social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-container .social-list__link:hover, .social-container .social-list__link:focus {
  background-color: #2196f3;
}

.subscription__text,
.social-container__text {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*  ----- subscription ----- */
.subscription {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .subscription {
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription {
    margin: 0 auto;
  }
}

.subscription__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .subscription__form {
    flex-direction: row;
  }
}

.subscription__input {
  padding: 15px 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) {
  .subscription__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__input {
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
  }
}

.subscription__input:invalid {
  border-color: #ee6262;
}

.subscription__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn__icon-send {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */