.clients {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border 250ms $cubic;
  }

  &__svg {
    fill: #afb1b8;
    transition: fill 250ms $cubic;
  }
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid $accent-color;

  & .clients__svg {
    fill: $accent-color;
  }
}
