.footer {
  padding: 60px 0px;
  background: #2f303a;
}

/* ----- address -----*/
.webstudio-address {
  margin-right: 70px;

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $footer-address-color;
  }
}

.map {
  color: $hero-title-color;
}

/* ----- social-container ----- */
.social-container {
  margin-right: 92px;
  width: 206px;
  height: 80px;

  & .social-list__svg {
    fill: $hero-title-color;
  }

  & .social-list__link {
    background-color: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }
}
// text-styles
.subscription__text,
.social-container__text {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $hero-title-color;
}

/*  ----- subscription ----- */
.subscription {
  &__form {
    display: flex;
  }

  &__input {
    padding: 15px 16px;
    margin-right: 12px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    &:invalid {
      border-color: rgb(238, 98, 98);
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn__icon-send {
  margin-left: 10px;
}
