.header {
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    position: relative;
  }

  &__btn-menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__icon-close {
    display: none;
  }
  &__btn-menu.is-open &__icon-close {
    display: block;
  }
  &__btn-menu.is-open &__icon-menu {
    display: none;
  }

  &__menu {
    display: flex;
    align-items: center;
    flex-grow: 1;

    @media screen and (max-width: 767px) {
      display: none;
      position: absolute;
      top: 101%;
      left: 0;
      flex-direction: column;
      width: 100%;
      padding: 60px 0;
      z-index: 50;
      text-align: center;
      background-color: #fff;

      &.is-open {
        display: flex;
      }
    }
  }

  &__nav {
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }
  }

  &__nav-list {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
  &__address-list {
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__nav-item {
    @media screen and (min-width: 768px) {
      padding: 32px 0;
    }
  }

  &__nav-item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 40px;
    }

    @media screen and (min-width: 768px) {
      margin-right: 50px;
    }
  }
  &__address-item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 16px;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }

  &__nav-link {
    position: relative;
    color: $title-color;
  }
  &__address-link {
    color: $text-color;
  }

  &__nav-link,
  &__address-link {
    @include font-styles($fw: 500, $fs: 14px, $lh: 16px, $ls: 0.02em);
    transition: color 250ms $cubic;

    @media screen and (max-width: 767px) {
      @include font-styles($fw: 500, $fs: 18px, $lh: 21px, $ls: 0.02em);
    }
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__nav-link--active-page {
    color: $accent-color;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -8px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $accent-color;
      @media screen and (min-width: 768px) {
        bottom: -32px;
      }
    }
  }

  & .address {
    @media screen and (min-width: 768px) {
      margin-left: auto;
    }
  }
}

.envelope {
  width: 16px;
  height: 12px;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.envelope,
.smartphone {
  margin-right: 10px;
  fill: $text-color;

  .header__address-link:hover &,
  .header__address-link:focus & {
    fill: $accent-color;
  }
}
