.hero {
  padding: 200px 0px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-for-hero/Img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px 600px;

  &__title {
    max-width: 696px;
    margin: 0 auto 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $hero-title-color;
  }
}
