.logo {
  font-family: $secondary-font;
  @include font-styles($fs: 24px, $lh: 28px);

  @media screen and (min-width: 1200px) {
    @include font-styles($fs: 26px, $lh: 31px);
  }
  color: #000000;

  &__text-web {
    color: $accent-color;
  }
}
.header__logo {
  @media screen and (max-width: 767px) {
    margin: 16px 0;
  }

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.footer__logo {
  margin-bottom: 20px;
  color: $hero-title-color;
}
