/* СПИСОК СОЦИАЛЬНЫХ ССЫЛОК */
.social-list {
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 250ms $cubic;
  }

  &__svg {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    transition: fill 250ms $cubic;
  }
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: $accent-color;

  & .social-list__svg {
    fill: $hero-title-color;
  }
}
