/* Заголовки секций */
.title {
  margin-bottom: 30px;
  @include font-styles($fw: 700, $fs: 28px, $lh: 33px, $ls: 0.03em);
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    @include font-styles($fw: 700, $fs: 36px, $lh: 42px, $ls: 0.03em);
  }
}
