/* Сбрасываю отступы всм элементам */
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}

/* Общие сбросы */

body {
  font-family: $maim-font;
  font-style: normal;
  color: $title-color;
}

ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: block;
}

.address {
  font-style: normal;
}

.section {
  padding: 94px 0;
}
