$maim-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$accent-color: #2196f3;
$title-color: #212121;
$text-color: #757575;
$hero-title-color: #ffffff;
$footer-address-color: rgba(255, 255, 255, 0.6);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
